.profile__about {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 1000px) {
  .profile__about {
    max-width: 85%;
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto;
  }
}