.login__button {
  width: 358px;
  min-height: 50px;
  margin: 216px auto auto;
  border: none;
  border-radius: 2px;
  background-color: #ffffff;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.222;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.login__button:hover {
  opacity: 0.85;
}

@media screen and (max-width: 650px) {
  .login__button {
    width: 260px;
  }
}
