.popup__status {
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 32px;
}

@media screen and (max-width: 650px) {
  .popup__status {
    margin-bottom: 40px;
  }
}
